*{
     font-family: "Lora", serif;
     
}
body{
    margin: 0 auto;
}
h1,h2{
    font-family: "Montserrat", sans-serif;
}
.container-fluid{
    background: fixed #050623;
    height: auto;
    
}
.navbar{
    padding-top: 0px
}
ul li{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
ul li:hover{
    background: burlywood;
}
.btn{
    width:120px;
    
}

.navbr{
    width: 100%;

}
.main-containe{
    height: 100vh;
    margin: 0 auto;
    color: black;
    position: relative;

    background: gray;
    display: flex;
}
.one{
    
    height: 100vh;
    width: 33.3%;
    background: black;
}
.two{
    display: flex;
    height: 100vh;
    width: 33.3%;
    background: green;
    
}
.three{
    height: 100vh;
    width: 33.3%;
    background: red;
    
}
.one-one{
    margin: 0 auto;
    margin-right: 1rem;
    height: 100vh;
    width: 30%;
    background: red;
}
.one-two{
    margin: 0 auto;
    margin-right: 0.5remrem;
    margin-left: 0.5rem;
    height: 100vh;
    width: 30%;
    background: red;
}
.one-three{
    margin: 0 auto;
    margin-left: 1rem;
    height: 100vh;
    width: 30%;
    background: red;
}
.one-spl{
    background: white;
    height: 100px;
    width: 30%;
    position: relative;
    left:135.5%;
    z-index: 1;
}
/* @media (max-width: 992px){
    .two{
        display: none;
    }
} */