*{
     font-family: "Lora", serif;
     
}
body{
    margin: 0 auto;
}
h1,h2{
    font-family: "Montserrat", sans-serif;
}
.container-fluid{
    background: fixed #050623;
    height: auto;
    
}
.navbar{
    padding-top: 0px
}
ul li{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
ul li:hover{
    background: burlywood;
}
.btn{
    width:120px;
    
}

